@model Product
@{
    ViewData["Title"] = "Add Product";
}

<h1>Add Product</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" asp-for="Title" required>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" name="price" asp-for="Price" required>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category" asp-for="Category" required>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="imageUrl">Image:</label>
        <input type="file" class="form-control-file" id="imageUrl" name="imageUrl" asp-for="ImageUrl">
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Item</button>
</form>
